@import url('https://fonts.googleapis.com/css?family=Barlow:400,400i,500,600,700|Oswald:400,500,600,700');

body {
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

a {
    color: #000;
}

.th-white {
    color: #fff;
}

.th-section-padding {
    padding: 80px 0;
}

.section-title {
    padding-bottom: 4.375rem;
}

.section-title h2 {
    font-size: 2.5rem;
    color: #616161;
    padding-bottom: 20px;
}

.section-title p {
    font-weight: 300;
    color: #8a8a8a;
    font-size: 1.875rem;
}

/*Navigation*/
#th-navigation .main-nav {
    padding: 15px 0;
}

#th-navigation h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

#th-navigation .nav-link {
    color: #fff;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    padding: 1rem;
}
.fixed-menu-bg{
    background-color: #26ace2;
}
span.navbar-toggler-icon .fa-bars {
    color: #fff;
    margin-top: 3px;
}
/*home area*/
.th-home {
    padding: 360px 0 250px;
    background: url(assets/images/home-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.th-home-content:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: -moz-linear-gradient(144deg, rgb(38, 172, 226) 0%, rgb(0, 137, 195) 100%);
    background-image: -webkit-linear-gradient(144deg, rgb(38, 172, 226) 0%, rgb(0, 137, 195) 100%);
    background-image: -ms-linear-gradient(144deg, rgb(38, 172, 226) 0%, rgb(0, 137, 195) 100%);
    opacity: 0.7;
    z-index: -1;
}

.th-home-content .home-btn {
    font-size: 1rem;
    border: 2px solid #fff;
    border-radius: 0;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1rem 1.65rem;
    line-height: 1;
    margin-top: 2rem;
}

.th-home-content .home-btn:hover {
    color: #fff;
}

.th-home-content h2 {
    font-size: 3rem;
}

.th-home-content p {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

/* Skill Area */
.our-skill-area.th-section-padding {
    padding-bottom: 50px;
}

.our-skill-area .th-single-skill {
    padding: 2.5rem 0 2rem;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgb(136, 136, 136);
    margin-bottom: 30px;
}

.our-skill-area .th-single-skill .icon {
    margin-bottom: 1.5rem;
}

.our-skill-area .th-single-skill h3 {
    font-size: 1.25rem;
}

/*Works*/
.th-works-area {
    background: #eef2f5;
}

.th-works-area .section-title p {
    color: #888888;
}

.th-works-area .th-single-work {
    position: relative;
}

.th-works-area .th-single-work img {
    width: 100%;
}

.th-works-area .th-single-work .overlay {
    background-color: rgba(0, 185, 241, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transition: all 0.33s;
}

.th-works-area .th-single-work .overlay-content {
    margin: auto;
}

.th-works-area .th-single-work .overlay-content h3 {
    font-size: 1.5rem;
}

.th-works-area .th-single-work .overlay-content p {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
}

.th-works-area .th-single-work .overlay-content a.th-live-btn {
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.th-works-area .th-single-work:hover .overlay {
    opacity: 1;
}

.th-single-testimonial {
}

.th-single-testimonial .th-author-meta h3 {
    font-size: 1.122rem;
    color: #6c6c6c;
}

.th-single-testimonial p {
    color: #707070;
    font-size: 1.33rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

}

.th-single-testimonial .author-img {
    margin-bottom: 2.25rem;

}
.Rectangle_19 {
    background-color: rgb( 39, 172, 226 );
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 2771px;
    width: 1600px;
    height: 316px;
    z-index: 36;
}

/* Contact area */
.home-contact-area {
    background: url("assets/images/home-contact-bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-bottom: 110px;
}
.home-contact-area:after{
    background-color: rgb( 39, 172, 226 );
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: "";
}
.home-contact-area h2 {
    font-size: 2.25rem;
    margin-bottom: 1.8rem;
    font-weight: 500;
}

.home-contact-area .contact-btn {
    border: 2px solid #fff;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem;
    font-size: 1.12rem;
}
/* footer */
.footer-area{
    background: #232323;
    color: #e1e1e1;

}
.th-footer-top.th-section-padding{
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(53, 53, 53);
}
.th-single-footer{
    margin-bottom: 15px;
}
.th-single-footer address p{
    line-height: 1.6;
    font-size: 16px;
}
.th-single-footer address p:first-of-type{
    margin-bottom: 30px;
}
.th-single-footer  a{
    color: #e1e1e1
}
.th-single-footer h2{
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.th-single-footer ul li a{
    line-height: 27px;
}
.th-copy-right-text{
    color: #888888;
    font-size: 17px;
    margin-bottom: 0;
    padding:  1.5rem;
}
.th-copy-right-text a{
    color: #888888;}